{% extends 'base.html' %}
{% load crispy_forms_tags %}
{% block body_block %}
<div class=" project_container col-lg-12 col-md-12">
<div class="row">
			{% if project_added %}
			<h3>Project updated.</h3>
			{% else %}
				<h2 class="text-center">Choose what to update.</h2>
				
					<!-- <div class=" project_container col-lg-11 col-lg-offset-1 col-md-12"> -->
						<form class=" project_container text-center " method="POST" action="." enctype="multipart/form-data" data-ajax="false">
							{% csrf_token %}
	 						{% crispy form %}
				
						</form>

				
				
			{% endif %}
			</div>
</div>			
{% endblock %}