{% extends 'base.html' %}
{% block body_block %}
{% load staticfiles %}
{% if projects_list %}
    <div id="projects-list" class=" container">
		<div class="row">
			<div class="col-lg-8 col-lg-offset-2 col-md-8 col-md-offset-2">
				<div class="panel panel-info">
				<div class="panel-heading">
					<div class="panel-title">
						<h3 class="text-center">List of All Projects</h3>
					</div>
				</div>
					<div class="panel-body">
						<ul class="list-group">
							{% for project in projects_list %}
								<div class="list-group">
  									<a href="{% url 'project' project.id %}" class="list-group-item ">
   										 <h4 class="navy list-group-item-heading"><strong>{{project.title}}</strong></h4>
										<p class="margin-top-10 list-group-item-text">
											<ul class="list-inline">
										<li class="list-item"><strong>Posted By:</strong> {{project.company.name}}</li>
										<li class="list-item"><strong>Budget:</strong> {{project.budget}} {{project.currency}}</li>
										<li class="last list-item"><strong>Deadline:</strong> {{project.endDate}}</li>
									</ul>
										</p>
  									</a>
								</div>
							{% endfor %}
						</ul>
					</div>
			</div>

			</div>

		</div>

	
{% else %}
	No published projects.
{% endif %}
</div>
{% endblock %}

