

{% load staticfiles %}

{% load projects_tags %}
{% show_latest_projects as latest_projects %}
{% for project in latest_projects %}
	<div class=" project col-lg-5 col-md-5 col-sm-12 col-xs-12">
			<div class="row">
				<div class=" clearfix pt-panel panel col-lg-12 col-md-12 col-sm-12">
					<div class=" clearfix panel-body">
						<div class="row">
							<!--Thecolumn for holding project image-->
							<div class="col-lg-5 col-md-5">
								<p class="small">Posted by: <strong class="text-capitalize">{{ project.company }}</strong></p>
								<hr>
								<img class="project-image" src="{% static "img/3-grey.jpg" %}" alt="">
								<hr>
								<p class="navy"><strong>Budget: </strong>{{ project.budget }} {{project.currency}}</p>
								<p class="navy"><strong>Deadline: </strong>{{ project.endDate }}</p>

							</div>

							<div class="col-lg-7 col-md-7 " >
								<ul class="list-inline">
									<li><p class="small text-muted">Posted: {{project.publishDate}}</p></li>
									<li><p class="small text-muted"> Rating:  </p></li>
								</ul>

								<h3 class="project-title" >
									<p class="text-capitalize "><a class="navy" href="#">{{project.title}}</a></p>
								</h3>
								<hr>
								<div class=" project-desc-panel panel">
									<div class="panel-body">
										<p class="project-desc-text navy">
											{{project.currency}}
									Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.
									Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisides anim id est laborum. Ut enim ad minim veniam, quis nostrud exercitation
									ullamco laboris nisides anim id est laborumUt enim ad minim veniam, quis nostrud exercitation ullamco laboris nisides anim id est laborum"
								</p>

									</div>
								</div>



							</div>
						</div>
					</div>
				</div>

			</div>
		</div>
{% endfor %}