
{% load staticfiles %}
{% load projects_tags %}
{% show_latest_projects as latest_projects %}
{% for project in latest_projects %}
	<div class="clearfix project col-lg-3 col-md-3 col-sm-3" >
	<div class="pt-panel panel">
		<div class="panel-header">
			<p class="text-center">Posted by: <strong class="navy text-capitalize">{{ project.company }}</strong></p>
		</div>
		<div class="panel-body">
			
			{% if project.avatar %}
			<img class="project-image" src="{{project.avatar.url}}" alt="" style="max-height: 200px;">
			{% else %}
			<img src="{% static "img/3-grey.jpg" %}" alt="" style="width:100%; max-height: 200px"/>
			{% endif %}

			<h3 class="navy text-center">
				<p class="project-title text-capitalize "><a data-toggle="modal" data-target="#Modal{{ forloop.counter }}" class="navy" href="#">{{project.title}}</a></p>
			</h3>
		</div>

	</div>
</div>

<!-- Modal -->
<div class="project-modal modal fade" id="Modal{{ forloop.counter }}" tabindex="-1" role="dialog" aria-labelledby="myModalLabel">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
        <h4 class="modal-title text-capitalize" id="myModalLabel"><strong>{{ project.title }}</strong> <small class="text-lowercase">by</small>
			<a  href="{% url 'company' project.company.id %}">{{ project.company.name }}</a></h4>
      </div>
      <div class="modal-body">
		 <div class="row">
			 <div class="col-lg-4">
				 <a data-toggle="modal" data-target="#image-modal{{ forloop.counter }}" href="#" class=" thumbnail">
					 {% if project.avatar %}
					 <img class="project-image" src="{{project.avatar.url}}" alt="project image">
					 {% else %}
					 <img src="{% static "img/3-grey.jpg" %}" alt="">
					 {% endif %}
				 </a>
				 <p class= "navy"><strong class="text-left">Budget: </strong><em>{{ project.budget }}</em> {{project.currency}}</p>
				 <p class=" navy"><strong class="text-left">Start date: </strong>{{ project.startDate }}</p>
				 <p class=" navy"><strong class="text-left">Deadline: </strong>{{ project.endDate }}</p>

			 </div>
			 <div class="col-lg-7">
				<div class="vertical-line">
					<h3>Project Description</h3>
					<div class="panel">
						<div class="panel-body">
							<p class="description">{{project.description}}</p>
						</div>
					</div>


				</div>
			 </div>
		 </div>
      </div>
      <div class="modal-footer">
        <ul class="list-inline">
			<li><button type="button" class="btn btn-default" data-dismiss="modal">Close</button></li>
                <li>
					<form action="{% url 'project' project.pk %}">
   						<input class="btn btn-primary" type="submit" value="View">
					</form>

				</li>

		</ul>

      </div>
    </div>
  </div>
</div>


<!--image modal-->
<div class="image-modal modal fade" id="image-modal{{ forloop.counter }}" tabindex="-1" role="dialog" aria-labelledby="myimageModalLabel">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
        <h4 class="modal-title text-capitalize" id="myimageModalLabel">Project photo</h4>
      	<div class="modal-body">
			{% if company.avatar %}
			<img class="project-big-image" src="{{project.avatar.url}}" alt="">
			{% else %}
			<img src="{% static "img/3-grey.jpg" %}" alt="">
			{% endif %}
		</div>
	  </div>
	</div>
  </div>
</div>

{% endfor %}


