.box{
    padding-top: 50px;

}

.background{
    background-color: #e3e3e3;
}

.loginbutton{
	color: white;
    background-color: #00a994
    
}
.loginbutton:hover{
	color: white;
    background-color: #006a5d
    
}
.panel{
	 border-radius: 10px;
}

.logintxt p{
	font-size: 13px

}

.login hr{
	background-color: black;
	margin-top: 5px;
	margin-bottom: 10px; 
}


.register {
	position: 
}

.country{
	margin-top: 50px
}