{% extends "account_base.html" %}
{% load bootstrap3 %}
{% load crispy_forms_tags %}
{% block title %}Login{% endblock %}

	{% block content %}
	<div class=" box col-lg-4 col-lg-offset-4">
		<div class="panel panel-default">
			<div class="panel-body">
				<div class="login">
					<h2 class="text-center">Login</h2>
					<hr width="280">
					{% if form.errors %}
						<div class="logintxt">
							<p class="text-center">Your username and password did not match</p>
							<p class="text-center">Please try again!</p>
						</div>
		
					{% else %}
						<div class="logintxt">
							<p class="text-center">Enter your username and password to log in</p>
							<p class="text-center">You can enter your e-mail as username</p>
						</div>
			
					{% endif %}
					<hr width="280">
					<div class="row">
						<div class="clearfix col-lg-10 col-lg-offset-1 ">
							<form class="text-center" action="." method="POST">
								{% csrf_token %}
								{% bootstrap_form form layout='inline' %}
								<input type="hidden"  name="next" value="{{ next }}">
								<input type="submit" class="greenbtn btn btn-block" role="button" value="Log in"/>
							</form>
						</div>
					</div>
					<p class="small text-center">Can't remember your password? <a href="/password-reset/">click here</a></p>
					<hr width="280">
					<p class="small text-center"><strong>Do you need a TenderIt account? <a href="/register/">Register here</a></strong></p>
					</div>
				</div>
			</div>
		</div>
	{% endblock %}