{% extends "account_base.html" %}
{% load bootstrap3 %}

{% block title %}Change your password{% endblock %}

{% block content %}
<div class=" project_container col-lg-4 col-lg-offset-4">
	<div class="panel panel-default">
		<div class="panel-body">
			<div class="row">
					<h3 class="text-center"> Change your password </h3>
					<hr width="280px">
    				<p class="text-center">Use the form below to change your password. </p>
    				<hr width="280px">
    				<div class="password_change clearfix col-lg-10 col-lg-offset-1">
    				<form action="." method="POST">
       					{% csrf_token %}
       					{% bootstrap_form form layout="inline" %}
       					<input type="submit" class="greenbtn btn btn-block" value="Change">
    				</form>
				</div>	
			</div>
		</div>
	</div>
</div>
				
    			
{% endblock %}