{% extends 'base.html' %}

{% block body_block %}
<div id="about" class="row">
    <div class="col-lg-8 col-lg-offset-2">
        <h1 class="text-center">About TenderIt</h1>
<p class="text-justify">
    TendersIT is provided by “AMIGO” group, which was founded by Almin Vehabovic, Gadir Rustamli, Mrulani Rane and Ismayil Rzayev  in 2016.
    All founders are still actively running the company, with Ismayil Rzayev and Mrulani Rane focusing on the procurement
    issues, while Almin Vehabovic, Gadir Rustamli concentrates on the I.T. systems.
</p>

<p class="text-justify">
    TenderIT is a B2B website aimed to create a hub where people from around the world can access creative talent, and help creatives from across the globe find new customers.It connects companies with ‘needs’ who can post projects whilst companies with ‘resources’ can apply for it.
    Tender IT makes geography and title irrelevant and, thereby, opens new markets for creativity all the world over.
</p>
<p class="text-justify">
    The best companies win with the best talent.
    But great people can be hard to find. We’ve created an online website for the world – connecting companies who wants service with other companies who wants to render the service.
    “Amigo” group is focused on building one great workplace for companies who want to post projects and companies who have skills to complete such projects.
    Targeted users are all types of companies that either need some IT work or can perform some IT work.
</p>
    </div>
</div>


{% endblock %}