{% extends 'base.html' %}
{% block body_block %}

{% if applications %}
	   {% for application in applications %}
	   <p>
	   <a href="/project/{{ application.project.id }}">Project: {{ application.project.title }} </a>
		<ul>
			<li>Offered price: {{ application.price }} {{ application.project.currency }}</li>
			<li>Description: {{ application.description }}</li>
		</ul>
		<form action="/my_applications/{{ application.id }}/edit/">
   					<input type="submit" value="Edit">
				</form>	
	   </p>
	   {% endfor %}
	
{% else %}
	No project applications.
{% endif %}

{% endblock %}
