<!DOCTYPE html>

{% load staticfiles %}

<html>
<head>
	<meta charset="UTF-8">
	<meta http-equiv="X-UA-Compatible" content="IE=edge">
	<meta name="viewport" content="width=device-width, initial-scale=1">
	<link rel="stylesheet" href="{% static "css/bootstrap.min.css" %}" />
	<link rel="stylesheet" href="{% static "css/style.css" %}" />
	<link rel="stylesheet" href="{% static "css/JQuery UI/jquery-ui.min.css" %}" />
	<title>TenderIT</title>

</head>

<body>

<div class="container-fluid">
	<nav  class="nav navbar-inverse navbar-static-top">
	<ul class="list-inline">
		<li><img src="" alt="TenderIT logo"></li>
		<li><a href="/companies">Companies</a></li>
		<li><a href="/projects">Projects</a></li>
		<li>
			<form>
				<input type="text" placeholder="Search..."/>
				<input type="button" value="Search"/>
			</form>
		</li>
		{% if user.is_authenticated %}
			<li>Welcome, {{ user }}</li>
            <li><a href="/logout/">Logout</a></li>
		<div>
		<a href="/post_project/"> Post Project</a>
		<a href="/company/{{ user.company.id }}"> My profile</a>
		<a href="/my_projects">My projects</a>
		<a href="/my_applications">My applications</a>

		{% else %}
			<li><a href="/login/">Login</a></li>
			<li><a href="/register/">Register</a></li>
		{% endif %}
	</ul>
</nav>
</div>
<script src="{% static "js/jquery-2.2.1.min.js" %}"></script>
<script src="{% static "js/jquery-ui.min.js" %}"></script>
<script src="{% static "js/bootstrap.min.js" %}"></script>
<script src="{% static "js/script.js" %}"></script>
<div class="container-fluid">
	{% block body_block %}{% endblock %}
</div>

</body>

</html>
