<!DOCTYPE html>

{% load static %}

<html>
<head>
	<meta charset="UTF-8">
	<title>Companies</title>
	<link rel="stylesheet" href="{% static "css/style.css" %}" />
</head>
<body>
<div>
	<ul class=home>
		<li><img src="" alt="TenderIT logo"></li>
		<li><a href="/companies">Companies</a></li>
		<li>
			<form>
				<input type="text" placeholder="Search..."/>
				<input type="button" value="Search"/>
			</form>
		</li>
		<li><a href="/login/">Login</a></li>
		<li><a href="/register/">Register</a></li>
	</ul>
</div>
<br>
<br>
<div>
{% if company %}
	   <h2>{{ company.name }}</h2>
	   	<ul>
			<li> ID: {{ company.nationalID }}</li>
			<li> Street: {{ company.street }}</li>
			<li> City: {{ company.city }}</li>
			<li> Country: {{ company.country.name }}</li>
			<li> Postcode: {{ company.postcode }}</li>
			<li> Phone: {{ company.phone }}</li>
			<li> Email: {{ company.email }}</li>
			<li> Website: <a href="{{ company.website }}"> {{ company.website }}</a>
		</ul>
	   <h4> Projects </h4>
		{% if projects %}			
			<ul>
			{% for project in projects %}
				<li> <a href = "/project/{{ project.pk }}">{{ project.title }} </a></li>
			{% endfor %}
			</ul>
		{% else %}
			<strong> No projects </strong>
		{% endif %}
{% else %}
	<strong>Specified company does not exist.</strong>			
{% endif %}
</div>
<a href="/post_project/"> Post Project</a>
</body>

</html>
