{% extends 'base.html' %}
{% block body_block %}
{% load staticfiles %}
{% if companies %}
    <div id="companies-list" class=" container">
		<div class="row">
			<div class="col-lg-8 col-lg-offset-2 col-md-8 col-md-offset-2">
				<div class="panel panel-info">
				<div class="panel-heading">
					<div class="panel-title">
						<h3 class="text-center">List of All Companies</h3>
					</div>
				</div>
					<div class="panel-body">
						<ul class="list-group">
							{% for company in companies %}
								<div class="list-group">
  									<a href="{% url 'company' company.id %}" class="list-group-item ">
   										 <h4 class="navy list-group-item-heading"><strong>{{company.name}}</strong></h4>
										<p class="margin-top-10 list-group-item-text">
											<ul class="list-inline">
										<li class="list-item"><strong>Projects:</strong> {{company.project_set.count}}</li>
										<li class="last list-item"><strong>Country:</strong> {{company.country}}</li>
									</ul>
										</p>
  									</a>
								</div>
							{% endfor %}
						</ul>
					</div>
			</div>

			</div>

		</div>


{% else %}
	No published projects.
{% endif %}
</div>
{% endblock %}