{% extends 'base.html' %}
{% block body_block %}
{% if project %}
	   <h2>{{ project.name }}</h2>
	   	<ul>
			<li> Company: {{ project.company.name }}</li>
			<li> Title: {{ project.title }}</li>
			<li> Description: {{ project.description }}</li>
			<li> Budget: {{ project.budget }} {{ project.currency}}</li>
			<li> Start: {{ project.startDate }} </li>
			<li> End: {{ project.endDate }} </li>
			<li> Publish date: {{ project.publishDate }} </li> 
		</ul>
		{% if user.is_authenticated %}
			{% if own_project %}
			<button type="button">Edit</button>
				{% if applications %}
					<h5> Applications </h5>
					{% for application in applications %}
						<p>
	  					
						<ul>
							<li>Applicant: <a href="/company/{{ application.applicant.id }}"> {{ application.applicant.name }} </a></li>
							<li>Price: {{ application.price }} {{ project.currency }}</li>
							<li>Description: {{ application.description }}</li>
							<li>Date: {{ application.applicationDate }}</li>
							
			
						</ul>
	 					 </p>
					{% endfor %}
				{% endif %}
			{% else %}
				{% if apply_exist %}
				<form action="/my_applications/">
   					<input type="submit" value="Apply">
				</form>	
				{% else %}
				<form action="/project/{{ project.id }}/apply">
   					<input type="submit" value="Apply">
				</form>	
				{% endif %}
			{% endif %}
		{% else %}
			<form action="/login">
   				<input type="submit" value="Apply">
			</form>			
		{% endif %}
{% else %}
	<strong>Specified project does not exist.</strong>			
{% endif %}
{% endblock %}

